html {
    font-size: 10px;
    background: url(https://cdn.xl.thumbs.canstockphoto.com/canstock48507238.jpg) bottom center;
    background-size: cover;
  }
  body,html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  .keys {
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
  }
  
  .key {
    border: .4rem solid #DBC0C0;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: #CA4141;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem #5B0D0D;
  }
  
  .playing {
    transform: scale(1.1);
    border-color: #19160C;
    box-shadow: 0 0 1rem #10AC27;
  }
  
  kbd {
    display: block;
    font-size: 4rem;
  }
  
  .sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #E7F1E8;
  }
